<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- 김양규 추가 -->
    <!-- Bluetooth 권한 -->
    <!-- Permissions Required for accessing Bluetooth services -->

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />

    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />




    <!--    <application-->
<!--        android:allowBackup="true"-->
<!--        android:icon="@drawable/ic_launcher"-->
<!--        android:label="@string/app_name"-->
<!--        android:roundIcon="@mipmap/ic_launcher_round"-->
<!--        android:supportsRtl="true"-->
<!--        android:theme="@style/Theme.NavDrawer">-->

    <application
        android:allowBackup="true"
        android:icon="@drawable/semiconductor_icon_300x300"
        android:label="@string/app_name"
        android:roundIcon="@drawable/semiconductor_icon_300x300"
        android:supportsRtl="true"
        android:theme="@style/Theme.NavDrawer">

        <activity
            android:name="com.adsemicon.anmg08d.IntroActivity"
            android:exported="true"
            android:theme="@style/FullScreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name="com.adsemicon.anmg08d.ui.monitoring.RegisterActivity"
            android:exported="false"
            android:windowSoftInputMode="stateHidden|adjustNothing" />
        <!-- stateHidden : Acitivty 실행 시 키보드가 자동으로 올라오지 않는다. -->
        <!-- adjustNothing : Layout 에 어떤 영향도 주지 않고 소프트 키보드가 올라온다. -->
        <activity
            android:name="com.adsemicon.anmg08d.ui.connect.ConnectActivity"
            android:exported="false" />
        <activity
            android:name="com.adsemicon.anmg08d.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.NavDrawer.NoActionBar">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>

        <service android:name=".BluetoothLeServeice" android:enabled="true"/>
    </application>

</manifest>